body{
    background-color: hsl(30, 38%, 92%);
}

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.card{
    padding: 0;
    margin: 50px 0px 50px 250px;
    background-color:white ;
    width: 1440px;
    height: 900px;
    border-radius: 15px;
    text-align: left;
}

.grid{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 0;
}

#image img{
    scale: 0.7;
    border-radius: 15px 0px 0px 15px;
}
h4{
    font-family: 'Montserrat', sans-serif;
    opacity: 0.8;
    padding: 80px 20px 20px 0px;
    font-size: 2.2rem;
}

h3{
    font-family: 'Fraunces';
    font-weight: 700;
    font-size: 74px;
    padding: 40px 0px 40px 0px;
    line-height: 7vh;
}

p{
    font-family: 'Montserrat', sans-serif;
    padding: 80px 20px 60px 0px;

}

h1{
    font-family: 'Fraunces';
    color: hsl(158, 36%, 37%);
}

h1 span{
    font-family: 'Montserrat', sans-serif;
    color: rgb(43, 43, 43);
    font-size: 14px;
    padding: 0;
    text-decoration: line-through;
}

button{
    font-family: 'Montserrat', sans-serif;
    background-color: hsl(158, 36%, 37%);
    border-radius: 10px;
    border: none;
    width: 600px;
    height: 100px;
    color: white;
    font-size: 40px;
    padding-bottom: 5px;
}

button img{
    width: 60px;
    padding: 0px 20px 0px 0px;
}